html {
    /*
    l for light mode, d for dark mode
    fs: font size
    fw: font weight
    fc: font color
    bg: background color
    icsz: icon size
    */
    --base: 0.8vw; /* base size */
    --sidebar-fs: calc(2.5*var(--base));
    --sidebar-fw: 600;
    --sidebar-icsz: calc(2*var(--base));
    --topbar-fs: calc(2.25*var(--base));
    --topbar-fw: 600;
    --topbar-icsz: calc(1.5*var(--sidebar-icsz));
    --searchbar-fw: 400;
    --button-bgl: var(--sidebar-bgl);
    --button-fcl: var(--sidebar-fcl);
    --projects-title-fs: calc(2.25*var(--base));
    --projects-title-fw: 600;
    --projects-icsz: calc(2.5*var(--base));
    --card-title-fs: calc(1.5*var(--base));
    --card-title-fw: 500;
    --card-para-fs: calc(1.3*var(--base));
    --card-para-fw: 400;
    --announcement-title-fs: calc(0.9*var(--card-title-fs));
    --announcement-title-fw: calc(var(--card-title-fw));
    --announcement-para-fs: calc(1.3*var(--base));
    --announcement-para-fw: calc(var(--card-para-fw));
    --trending-title-fs: calc(0.8*var(--card-title-fs));
    --para-opacity: 0.75;
}
@media (min-device-width: 600px)
{
    html
    {    
        --base: 1.6vw;
        --topbar-fs: calc(1.5*var(--base));
        --announcement-title-fw: calc(var(--card-title-fw));
        --announcement-para-fs: calc(1.15*var(--base));
    }
    body
    {
        grid-template: 15vh 85vh / min-content 1fr;
    }
    .sidebar .title
    {
        display: none;
    }
    .sidebar .element /* any combo of logo and title */
    {
        display: flex;
        justify-content: center;
    }
    .sidebar .title-section .icon /* targeting the dashboard logo */
    {
        margin-top: 2vh;
        width: calc(2*var(--sidebar-icsz));
    }
    .sidebar .icon
    {
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);
        width: var(--sidebar-icsz);
        height: auto;
    }

    .main .projects .project-cards
    {
        grid-template: 32vh 32vh / 95%;
        grid-auto-rows: 32vh;
        gap: 2%;
    }
    .main .projects .project-cards .card
    {
        border-left: 1vw solid #facc15;
    }

}
@media (min-device-width: 800px)
{
    html
    {    
        --base: 1.2vw;
    }
    body
    {
        grid-template: 21vh 79vh / 20% 1fr;
    }
    .sidebar .title
    {
        display: block;
    }
    .sidebar .element /* any combo of logo and title */
    {
        gap: 5%;
        align-items: center;
        justify-content: start;
    }
    /* note that the min calculations for the size of fonts and icons is for
    not allowing them to go over the sidebar on desktop, mobile should have a different solution */
    .sidebar .title-section .icon /* targeting the dashboard logo */
    {
        margin-top: 0;
        width: min(calc(1.5*var(--sidebar-icsz)), 3vw);
    }
    .sidebar .icon
    {
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);
        width: min(var(--sidebar-icsz), 3vw);
        height: auto;
    }

    .main .projects .project-cards
    {
        grid-template: 32vh 32vh / 46% 46%;
        grid-auto-rows: 32vh;
        gap: 4%;
    }
    .main .projects .project-cards .card
    {
        border-left: 0.55vw solid #facc15;
    }
}
@media (min-width: 900px)
{
    html
    {    
        --base: 1.15vw;
        
    }
}
@media (min-width: 1300px)
{
    html 
    {
        --base: 1vw; /* base size */
        --topbar-fs: calc(2*var(--base));
        --announcement-title-fs: calc(0.8*var(--card-title-fs));
        --announcement-title-fw: calc(var(--card-title-fw));
        --announcement-para-fs: calc(1*var(--base));
        --announcement-para-fw: calc(var(--card-para-fw));
    }
}
@media (min-width: 1700px)
{
    html
    {
        --base: 0.8vw;
        --topbar-fs: calc(2.25*var(--base));
    }
}
html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    --body-bgl: #e2e8f0;
    --sidebar-bgl: #6366f1;
    --sidebar-fcl: #fafafa;
    --topbar-bgl: #f8fafc;
    --topbar-fcl: #0f172a;
    --searchbar-bgl: #e2e8f0;
    --main-fcl: #0f172a;
}
body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--body-bgl);
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
}


.sidebar
{
    background-color: var(--sidebar-bgl);
    box-sizing: border-box;
    padding: 10%;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
.sidebar .section
{
    display: flex;
    flex-direction: column;
    gap: calc(1/4*var(--sidebar-fs));
}
.sidebar .title
{
    font-size: min(var(--sidebar-fs), 2vw);
    font-weight: var(--sidebar-fw);
    color: var(--sidebar-fcl);
}
.sidebar .title-section .title /* targeting the dashboard title */
{
    font-size: min(calc(1.5*var(--sidebar-fs)), 2.5vw);
}


.topbar
{
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgb(0 0 0 / 0.2);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    grid-column: 2 / -1;
    display: grid;
    grid-template: 40% 60% / 60% 30%;
    background-color: var(--topbar-bgl);
    color: var(--topbar-fcl);
    font-size: var(--topbar-fs);
    font-weight: var(--topbar-fw);
}

.topbar .search-section
{
    display: flex;
    align-items: center;
    gap: 4%;
}
.topbar .search-section .search-bar
{
    flex: 1 1 auto;
    height: calc(1.1*var(--topbar-icsz));
    min-width: 0;
    background-color: var(--searchbar-bgl);
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    border-radius: 100vw;/* makes element as round as it can be because 50% looks fuzzy*/
    outline: none;
    font-size: 1em;/* equivalent to topbar font size */
    font-weight: var(--searchbar-fw);
}
.topbar .search-section .search-bar:hover
{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}

.topbar .icon
{
    -webkit-filter: invert(5%); /* Safari/Chrome */
    filter: invert(5%);
    width: var(--topbar-icsz);
    height: auto;
}

.topbar .profile-section
{
    display: flex;
    justify-content: end;
    gap: 12%;
    align-items: center;
}
.topbar .profile-section .profile-picture
{
    height: calc(1.5*var(--topbar-icsz));
    border-radius: 50%;
}

.topbar .hi-there-section .profile-picture
{
    height: calc(2*var(--topbar-icsz));
    border-radius: 50%;
}

.topbar .profile-picture img
{
    max-height: 100%;
    width: auto;
    border-radius: 50%;
}

.topbar .hi-there-section
{
    display: flex;
    align-items: center;
    gap: 5%;
}
.topbar .hi-there-section .text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2vh;
}
.topbar .hi-there-section .text .hi-there
{
    font-size: calc(0.6*var(--topbar-fs));
}
.topbar .hi-there-section .text .name
{
    font-size: calc(1*var(--topbar-fs));
}

.topbar .buttons-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.topbar .buttons-section button
{
    flex: 1 1 0;
    height: calc(1.2*var(--topbar-icsz));
    border: none;
    border-radius: 100vw; /* assures element is as round as possible */
    font-size: calc(0.8*var(--topbar-fs));
    font-weight: calc(var(--topbar-fw)*0.9);
    background-color: var(--button-bgl);
    color: var(--button-fcl);
}


.main
{
    overflow: scroll;
    display: grid;
    grid-template: 50vh 40vh / 3fr 1.05fr;
    row-gap: 3vh;
    padding: 2% 1.5% 2% 1.5%;
    color: var(--main-fcl);
}


.main .projects
{
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.main .projects .projects-title
{
    font-size: var(--projects-title-fs);
    font-weight: var(--projects-title-fw);
}
.main .projects .project-cards
{
    flex: 1 1 0;
    display: grid;
}
.main .projects .project-cards .card
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-sizing: border-box;
    border-radius: 0.5vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--topbar-bgl);
}
.main .projects .project-cards .card .title
{
    font-size: var(--card-title-fs);
    font-weight: var(--card-title-fw);
}
.main .projects .project-cards .card .text
{
    overflow: hidden;
    flex: 1 1 0;
    opacity: var(--para-opacity);
    font-size: var(--card-para-fs);
    font-weight: var(--card-para-fw);
}
.main .projects .project-cards .card .button-section
{
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8%;
}
.main .projects .project-cards .card .button-section .icon
{
    height: var(--projects-icsz);
    width: auto;
}


.main .announcements
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.main .announcements .announcements-title
{
    font-size: var(--projects-title-fs);
    font-weight: var(--projects-title-fw);
}
.main .announcements .content
{
    overflow: scroll;
    flex: 1 1 0;
    padding: 2vh;
    border-radius: 0.5vw;
    background-color: var(--topbar-bgl);
}
.main .announcements .content .cards-container
{
    overflow: scroll;
    box-sizing: border-box;
    height: 100%;
}
.main .announcements .content .cards-container .card-container
{
    box-sizing: border-box;
    padding: 1.5vh;
    height: 35%;
    display: flex;
    flex-direction: column;
}
.main .announcements .content .cards-container .card-container .card
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.main .announcements .content .card-container:not(:first-child){border-top: 2px solid rgb(0 0 0 / 0.3);}
.main .announcements .content .card .title
{
    font-size: var(--announcement-title-fs);
    font-weight: var(--announcement-title-fw);
}
.main .announcements .content .card .text
{
    font-size: var(--announcement-para-fs);
    font-weight: var(--announcement-para-fw);
    opacity: var(--para-opacity);
}


.main .trending
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.main .trending .trending-title
{
    font-size: var(--projects-title-fs);
    font-weight: var(--projects-title-fw);
}
.main .trending .content-padding
{
    flex: 1 1 0;
    padding: 2vh;
    border-radius: 0.5vw;
    background-color: var(--topbar-bgl);
}
.main .trending .content
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}
.main .trending .content .card
{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.8vh;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}
.main .trending .content .card .profile
{
    align-self: center;
    height: calc(1.2*var(--topbar-icsz));
    width: auto;
    border-radius: 50%;
}
.main .trending .content .card .text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .trending .content .card .text .name
{
    font-size: var(--trending-title-fs);
    font-weight: var(--announcement-title-fw);
}
.main .trending .content .card .text .description
{
    max-width: min(25ch, 20vw);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--trending-title-fs);
    font-weight: var(--announcement-para-fw);
}

@media (min-height: 400px)
{
    .main .trending .content .card .text .description
    {
        display: none;
    }
    .main .announcements .content .card .text
    {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-height: 630px)
{
    .main .trending .content .card .text .description
    {
        display: block;
    }
    .main .announcements .content .card .text
    {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-height: 805px)
{
    .main .announcements .content .card .text
    {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-height: 950px)
{
    .main .announcements .content .card .text
    {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}