html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    /*
    l for light mode, d for dark mode
    fs: font size
    fw: font weight
    fc: font color
    bg: background color
    icsz: icon size
    */
    --body-bgl: #e2e8f0;
    --sidebar-bgl: #6366f1;
    --sidebar-fs: 2.5rem;
    --sidebar-fw: 600;
    --sidebar-fcl: #fafafa;
    --sidebar-icsz: 2rem;
    --topbar-bgl: #f8fafc;
    --topbar-fs: 2.25rem;
    --topbar-fw: 600;
    --topbar-fcl: #0f172a;
    --topbar-icsz: calc(1.7*var(--sidebar-icsz));
    --searchbar-bgl: #e2e8f0;
    --searchbar-fw: 400;
    --button-bgl: var(--sidebar-bgl);
    --button-fcl: var(--sidebar-fcl);
}
body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--body-bgl);
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template: 21vh 40vh 40vh / 20% 1fr 20% 0;
}


.sidebar
{
    background-color: var(--sidebar-bgl);
    box-sizing: border-box;
    padding: 10%;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
.sidebar .section
{
    display: flex;
    flex-direction: column;
    gap: calc(1/4*var(--sidebar-fs));
}
.sidebar .element /* any combo of logo and title */
{
    display: flex;
    align-items: center;
    gap: 5%;
}
/* note that the min calculations for the size of fonts and icons is for
not allowing them to go over the sidebar on desktop, mobile should have a different solution */
.sidebar .title
{
    font-size: min(var(--sidebar-fs), 2vw);
    font-weight: var(--sidebar-fw);
    color: var(--sidebar-fcl);
}
.sidebar .icon
{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    width: min(var(--sidebar-icsz), 3vw);
    height: auto;
}
.sidebar .title-section .title /* targeting the dashboard title */
{
    font-size: min(calc(1.5*var(--sidebar-fs)), 2.5vw);
}
.sidebar .title-section .icon /* targeting the dashboard logo */
{
    width: min(1.5*calc(var(--sidebar-icsz)), 3vw);
}


.topbar
{
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    grid-column: 2 / -1;
    display: grid;
    grid-template: 40% 60% / 60% 30%;
    background-color: var(--topbar-bgl);
    color: var(--topbar-fcl);
    font-size: var(--topbar-fs);
    font-weight: var(--topbar-fw);
}

.topbar .search-section
{
    display: flex;
    align-items: center;
    gap: 4%;
}
.topbar .search-section .search-bar
{
    flex: 1 1 auto;
    height: calc(1.1*var(--topbar-icsz));
    min-width: 0;
    background-color: var(--searchbar-bgl);
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    border-radius: 100vw;/* makes element as round as it can be because 50% looks fuzzy*/
    outline: none;
    font-size: 1em;/* equivalent to topbar font size */
    font-weight: var(--searchbar-fw);
}
.topbar .search-section .search-bar:hover
{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}

.topbar .icon
{
    -webkit-filter: invert(5%); /* Safari/Chrome */
    filter: invert(5%);
    width: var(--topbar-icsz);
    height: auto;
}

.topbar .profile-section
{
    display: flex;
    justify-content: end;
    gap: 15%;
    align-items: center;
}
.topbar .profile-section .profile-picture
{
    height: calc(1.8*var(--topbar-icsz));
    border-radius: 50%;
}

.topbar .hi-there-section .profile-picture
{
    height: calc(2.5*var(--topbar-icsz));
    border-radius: 50%;
}

.topbar .profile-picture img
{
    max-height: 100%;
    width: auto;
    border-radius: 50%;
}

.topbar .hi-there-section
{
    display: flex;
    align-items: center;
    gap: 5%;
}
.topbar .hi-there-section .text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25vh;
}
.topbar .hi-there-section .text .hi-there
{
    font-size: calc(0.8*var(--topbar-fs));
}
.topbar .hi-there-section .text .name
{
    font-size: calc(1.4*var(--topbar-fs));
}

.topbar .buttons-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.topbar .buttons-section button
{
    flex: 1 1 0;
    height: calc(1.2*var(--topbar-icsz));
    border: none;
    border-radius: 100vw; /* assures element is as round as possible */
    font-size: calc(0.8*var(--topbar-fs));
    font-weight: calc(var(--topbar-fw)*0.9);
    background-color: var(--button-bgl);
    color: var(--button-fcl);
}

